.shopping-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.highlighted-text {
    font-family: cursive;
    font-weight: 500;
}

.shopping-content {
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.6); */
    color: revert;
    max-width: 600px;
}

.heading_style {
    font-size: 36px;
    margin-bottom: 20px;
}

.paragraph_style {
    font-size: 18px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .shopping-content {
        padding: 10px;
    }

    .heading_style {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .paragraph_style {
        font-size: 16px;
    }
}